SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_AUTH=true
SMTP_USERNAME=rakhis@elitemart.co.in
SMTP_PASSWORD="jvaf detq aegt tnei"
MAIL_FROM=rakhis@elitemart.co.in
MAIL_FROM_NAME=Vdesiconnect
ADMIN_EMAIL=rakhis@elitemart.co.in